<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".LOLketing"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.main.guide.GuideTermsActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.shop.basket.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.shop.history.PurchaseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.shop.purchase.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.shop.detail.ShopDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.board.my_board.MyBoardActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.board.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.guide.GuideActivity"
            android:exported="false"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my_page.MyPageActivity"
            android:exported="false"
            android:label="@string/title_activity_my_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.shop.ShopActivity"
            android:exported="false"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.board.comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ticket.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.find.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.join.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.event.EventActivity" />
        <activity android:name=".view.main.event.EventDetailActivity" />
        <activity android:name=".view.main.guide.LoLGuideDetailActivity" />
        <activity
            android:name=".view.main.chatting.ChattingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.main.event.RouletteActivity" />
        <activity android:name=".view.main.chatting.list.ChattingListActivity" />
        <activity
            android:name=".view.main.board.write.BoardWriteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.gallery.GalleryActivity" />
        <activity android:name=".view.main.board.BoardListActivity" />
        <activity android:name=".view.main.board.detail.BoardDetailActivity" />
        <activity android:name=".view.main.my_page.cache.CacheChargingActivity" />
        <activity android:name=".view.main.ticket.info.MyTicketInfoActivity" />
        <activity android:name=".view.main.ticket.detail.ReserveDetailActivity" />
        <activity android:name=".view.main.league_info.LeagueInfoActivity" />
        <activity android:name=".view.main.ticket.ReserveActivity" />
        <activity android:name=".view.main.ticket.list.ReserveListActivity" />
        <activity android:name=".view.login.join.MyInfoModifyActivity" />
        <activity android:name=".view.main.board.team.TeamActivity" />
        <activity android:name=".view.main.news.NewsActivity" />
        <activity android:name=".view.main.news.NewsWebViewActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.login.join.JoinActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="${KAKAO_APP_KEY}" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${MAP_CLIENT_ID}" />
    </application>

</manifest>